<%- include('header_begn'); %>
<div></div>
<div class="container col-xxl-8 px-4 py-5">
    <h1 class="header-logo text-dark text-center" id="heading">News</h1>
    <hr>
    <img src="/<%=data.filename%>" id="title" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    <br>
    <article class="blog-post">
      <h1><%=data.title%></h1>
      <p><%=data.desc%></p>
      <hr>
    </article>


  </div>
  <%- include('header_end'); %> 