<%- include('header_begn_tkm'); %>
<div class="container col-xxl-8 px-4 py-5">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <% for(var i = 0; i < data.filename.length; i++){ %> 
        <div class="carousel-inner">
            <img class="d-block w-100" src="/products/<%=data.filename[i]%>" alt="First slide">
            <br>
          <%}%>
          <hr>
          <h2> <b> Ady:      </b> </h2> <p> <%=data.name%> </p>
          <h2> <b> Düşündiriş: </b> </h2> <p><%=data.description%></p>
          <h2> <b> Bahasy:    </b> </h2> <p><%=data.price%></p>
          <h2> <b> Sany:    </b> </h2> <p><%=data.pieces%></p>
        </div>
        <a class="btn btn-outline-primary" href="/tkm/Products">Yza</a>
    </div>

<%- include('header_end_tkm'); %>